page-home {
    .toolbar-background {
        background-color: orangered;
        
    }
    .toolbar-title-md {
        color: #FFF;
    }
    .fab-md {
        background: darkorange;
    }
    .card-header-md {
        padding: 10px 16px;
        font-size: 14px;
        color: #767676;
    }
    .card-content-md {
        font-size: 21px;
    }
}
